<h2 class="title">All responses</h2>
<table class="table table-bordered table-sm offset-1 table-striped" id="responses-table">
    {{#each this}}
    <thead>
        <tr class="table-active">
            <th colspan="3">{{userId}} {{name}}</th>
        </tr>
    </thead>
    <tbody>        
        <tr>
        {{#each isTrue}}
            <td class="table-active">Question {{@index}}</td>
        {{/each}}
        </tr>
        <tr>
        {{#each isTrue}}
            <td>{{this}}</td>
        {{/each}}
        </tr>
        <tr>
        {{#each answers}}
            <td>{{this}}</td>
        {{/each}}
        </tr>
    </tbody>
    {{/each}}
</table>