<div class="pl-1 pb-4 pt-4 blog-navigation">
    <a href="#/">Home</a>
    <span class="blog-nav-active">&#187 {{this.0.categor}}</span>
</div>

<div class="row">
    <div class="no-side-padding col-lg-8 posts-container">
        <table class="table col-lg-8" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody class="posts-container">
                {{#each this}}
                <tr>
                    <td class="post-card mb-5">
                        <h1 class="post-title mb-3">{{title}}</h1>
                        <h5 class="post-sub-title mb-2">
                            Posted by
                            <span>{{author}}</span>
                            in
                            <span>{{categor}}</span>
                            on {{date}} |
                        </h5>
                        <div>
                            <img class="post-image float-left" src="public/images/posts/{{id}}.jpg" alt="post-image">
                            <p>{{post}}...</p>
                        </div>
                        <a class="button-1 p-1 mr-4 button-read-more" href="#/{{categor}}/{{id}}">Read more</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-lg-1" id="wrap-vertical">
        <div id="gradient-vertical"></div>
    </div>

    <div class="col-lg-3 sidebar-container">
        <div>
            <h2>Recent comments</h2>
            <ul>
                {{#each this}}
                <li>
                    <a href="#/{{categor}}/{{id}}">{{title}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div>
            <h2>Archives</h2>
            <ul>
                {{#each this}}
                <li>
                    <a href="#/{{categor}}/{{id}}">{{title}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div>
            <h2>Recent posts</h2>
            <ul>
                {{#each this}}
                <li>
                    <a href="#/{{categor}}/{{id}}">{{title}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>